In [1]:
import pandas as pd

In [122]:
df= pd.read_csv(r'daily to weekly dummy.csv')

In [45]:
print(df.head(31))

            Temperature  Relative Humdity  Rainfall
Date
2024-01-01           35                84         8
2024-01-02           33                56        36
2024-01-03           37                58        30
2024-01-04           30                90         4
2024-01-05           20                83         8
2024-01-06           36                73        24
2024-01-07           38                67         5
2024-01-08           22                57        29
2024-01-09           25                99        16
2024-01-10           24                73        43
2024-01-11           22                89        23
2024-01-12           33                99        12
2024-01-13           24                59        29
2024-01-14           34                88        16
2024-01-15           32                85         4
2024-01-16           25                73        38
2024-01-17           37                94        38
2024-01-18           20                77        23
2024-01-19           24                75        36
2024-01-20           23                95        46
2024-01-21           36                92         1
2024-01-22           38                59        50
2024-01-23           24                93        49
2024-01-24           37                72        45
2024-01-25           25                76        14
2024-01-26           20                85        14
2024-01-27           20                58        47
2024-01-28           27                79        49
2024-01-29           30                79        38
2024-01-30           39                76        30
2024-01-31           38                92         3

In [17]:
# aggregation_logic = {
#     'Temperature': 'mean',  # Use 'mean' instead of 'average'
#     'Relative Humdity': 'mean',
#     'Rainfall': 'sum'
# }

# df = pd.read_clipboard(parse_dates=['Date'], index_col=['Date'])
# df = df.resample('W').apply(logic)

# # changes in Pandas 1.1
# from pandas.tseries.frequencies import to_offset
# df.index = df.index - to_offset('6D')

In [15]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [19]:
aggregation_logic = {
    'Temperature': 'mean',  # Use 'mean' instead of 'average'
    'Relative Humdity': 'mean',
    'Rainfall': 'sum'
}

## daily to weekly

In [21]:
weekly_df = df.resample('W').agg(aggregation_logic)

In [23]:
weekly_df.head()

            Temperature  Relative Humdity  Rainfall
Date
2024-01-07    32.714286         73.000000       115
2024-01-14    26.285714         80.571429       168
2024-01-21    28.142857         84.428571       186
2024-01-28    27.285714         74.571429       268
2024-02-04    30.428571         84.000000       184

In [128]:
weekly_df.to_excel('weekly data.xlsx')

In [124]:
weekly_data = df.asfreq('W')
print(weekly_data)

Empty DataFrame
Columns: [Date, Temperature, Relative Humdity, Rainfall]
Index: []

## daily to monthly

In [32]:
monthly_df = df.resample('ME').agg(aggregation_logic)

In [34]:
monthly_df.head()

            Temperature  Relative Humdity  Rainfall
Date
2024-01-31    29.290323         78.548387       808
2024-02-29    28.689655         79.103448       746
2024-03-31    29.258065         72.032258       738
2024-04-30    30.833333         73.333333       773
2024-05-31    28.774194         70.903226       784

In [130]:
monthly_df.to_excel('daily_monthly.xlsx')

## weekly to monthly

In [39]:
w_monthly= weekly_df.resample('ME').agg(aggregation_logic)

In [41]:
w_monthly.head()

            Temperature  Relative Humdity  Rainfall
Date
2024-01-31    28.607143         78.142857       737
2024-02-29    29.250000         79.071429       723
2024-03-31    29.342857         73.142857       832
2024-04-30    30.464286         72.321429       738
2024-05-31    29.500000         71.535714       691

In [132]:
w_monthly.to_excel('weekly_monthly.xlsx')

## my func

In [102]:
df= pd.read_csv(r'daily to weekly dummy.csv', header=None)

In [104]:
df.columns = df.iloc[0]  # Set the first row as header
df = df.iloc[1:]
df.head()

0      Date Temperature Relative Humdity Rainfall
1  1/1/2024          35               84        8
2  1/2/2024          33               56       36
3  1/3/2024          37               58       30
4  1/4/2024          30               90        4
5  1/5/2024          20               83        8

In [112]:
df= df[['Date','Temperature']]
df.head()

0      Date Temperature
1  1/1/2024          35
2  1/2/2024          33
3  1/3/2024          37
4  1/4/2024          30
5  1/5/2024          20

In [118]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')
# Convert 'Temperature' column to numeric
df['Temperature'] = pd.to_numeric(df['Temperature'], errors='coerce')

# Initialize variables
avg, sums = [], []
current_sum = 0
days_counter = 0
start_month = df['Date'].iloc[0].month

# Iterate over the rows
for i in range(len(df)):
    current_date = df['Date'].iloc[i]
    current_month = current_date.month
    
    # Add to current sum and count days
    current_sum += df['Temperature'].iloc[i]
    days_counter += 1
    
    # Check if 7 days are completed or the next month starts
    if days_counter == 7 or (current_month != start_month):
        sums.append(current_sum)
        avg.append(current_sum / days_counter)
        
        # Reset for the next week
        current_sum = 0
        days_counter = 0
        start_month = current_month

# For remaining days in the last week
if days_counter > 0:
    sums.append(current_sum)
    avg.append(current_sum / days_counter)


print("Weekly Averages:", avg)

Weekly Averages: [32.714285714285715, 26.285714285714285, 28.142857142857142, 27.285714285714285, 33.75, 29.857142857142858, 28.714285714285715, 29.0, 27.285714285714285, 26.0, 29.285714285714285, 28.857142857142858, 29.571428571428573, 28.428571428571427, 34.666666666666664, 26.571428571428573, 31.857142857142858, 31.714285714285715, 31.285714285714285, 31.5, 29.571428571428573, 30.0, 28.285714285714285, 26.285714285714285, 34.666666666666664, 30.714285714285715, 27.571428571428573, 29.714285714285715, 30.428571428571427, 30.0, 29.0, 30.571428571428573, 32.285714285714285, 29.714285714285715, 28.0, 32.0, 28.142857142857142, 27.714285714285715, 31.142857142857142, 31.0, 28.285714285714285, 30.0, 28.714285714285715, 26.428571428571427, 35.0, 29.857142857142858, 27.857142857142858, 27.857142857142858, 26.857142857142858, 29.0, 26.428571428571427, 30.714285714285715, 27.428571428571427, 29.0, 32.0, 27.571428571428573, 29.857142857142858, 28.714285714285715, 32.285714285714285, 32.5]

C:\Users\shruti shreya\AppData\Local\Temp\ipykernel_30696\2678659426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')
C:\Users\shruti shreya\AppData\Local\Temp\ipykernel_30696\2678659426.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Temperature'] = pd.to_numeric(df['Temperature'], errors='coerce')